/* ----------
google fonts
------------- */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* -------------------------
common styles or utilities
--------------------------- */

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
header{
    display: flex;
    justify-content: center;
    margin-top: 3%;
    margin-bottom: 50px;
}
nav{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #3A3A3A;
}
.menu-bar {
    display: none;
}
#shopping-cart{
    display: none;
}
nav ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-left: 36px;
}
nav li:hover{
    background-color: pink;
    border-radius: 5px;
}
nav a{
    text-decoration: none;
    color: #3A3A3A
}

/* ----------------
Start Journey Part
------------------- */

.start-journey-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
.start-journey-container-items{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Animation added */

.start-journey-content{
    width: 582px;
    height: 414px;
}
.start-journey-content h1{
    font-size: 52px;
}

/* Animation added */

.start-journey-image{
    width: 475px;
    height: 475px;
    background: url(../images/circle-design.svg) no-repeat center center/cover;
}
.start-journey-image img{
    width: 440px;
    height: 414px;
    transition: transform 2s;
}
.start-journey-image img:hover{
    transform: rotate(360deg);
}
.link-button{
    text-decoration: none;
    color: white;
    width: 196px;
    border-radius: 41px;
    padding: 10px 24px;
    background-color: #E02C6D;
    font-weight: 700;
}
.link-button:hover{
    background-color: #f7699d;
}
.fa-arrow-right{
    margin-left: 5px;
}

/* ---------
Logo Part
------------ */

/* Animation added */

.logo-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: background-color 2s, transform 2s;
}
.logo-container:hover{
    transform: scale(1.2);
    background-color: pink;
}
hr{
    width: 80%;
    color: #aaaaaa11;
}
.logo-container-items{
    width: 70%;
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ------------------------
Popular Collections Part
-------------------------- */

.collections-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
.collections-container h2{
    font-size: 28px;
}
#popular-collection-h2{
    padding-bottom: 20px;
}

.popular-collectons{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

/* Animation added */

.collection-items{
    width: 324px;
    height: 476px;
    padding-top: 12px;
    padding-bottom: 24px;
    border-radius: 10px;
    box-shadow: 10px 10px 13px rgba(0, 0, 0, 0.1);
    transition: background-color 1s, transform 1s ease-in-out;
}
.collection-items:hover{
    transform: scale(1.1);
    background-color: pink;
}
.collection-image{
    width: 300px;
    height: 256px;
    margin-left: 12px;
}
.collection-detail{
    width: 300px;
    height: 220px;
    margin-left: 12px;
}
.collection-info span{
    color: #5E6366;
    font-size: 14px;
}
.fa-dollar-sign{
    font-size: 24px;
    color: rgba(0, 0, 0, 0.87);
}
.fa-star{
    font-size: 14px;
    color: #FFC014;
}
.fa-star-half-alt{
    color: #FFC014;
    font-size: 14px;
}
.collection-delivery p{
    color: #787885;
}
.right-float{
    text-decoration: none;
    margin-left: 70%;
    margin-top: 50px;
    color: #E02C6D;
}
.right-float:hover{
    text-decoration: underline;
}

/* ---------------------
Discover Products Part
----------------------- */

.discover-product-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
.discover-product-container-items{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Animation added */

.discover-product-image {
    width: 404px;
    height: 270px;
    border-radius: 7px;
    transition: transform 2s;
}
.discover-product-image:hover{
    transform: rotate(360deg);
}
.discover-product-content{
    width: 610px;
    height: 224px;
    padding-bottom: 110px;
}
.discover-product-content h1{
    font-size: 38px;
    color: #0A0826;
}
.discover-product-content p{
    color: #6C6C6C;
}

/* -----------
Footer Part
------------ */

footer{
    text-align: center;
    color: #FFFFFF;
    background-color: rgb(2, 2, 46);
    padding-top: 50px;
    padding-bottom: 50px;
}
footer .fab{
    font-size: 32px;
    padding-left: 5px;
    padding-right: 5px;
    color: #FFFFFF;   
}

/* -----------------
    Media Quaries
------------------- */

/* --------------
Mobile Devices
---------------- */

@media only screen and (max-width: 688px) {

/* -------------------------
common styles or utilities
--------------------------- */

    body{
        width: 80%;
    }
    header{
        width: 120%;
    }
    footer{
        width: 135%;
    }
    nav {
        margin-left: 10px;
        width: 95%;
    }
    .menu-bar {
        display: block;
    }
    .menu-bar .menu-item{
        width: 45px;
        height: 5px;
        margin: 7px 0px;
        background-color: black;
        border-radius: 5px;
    }
    #shopping-cart{
        display: block;
    }
    nav ul {
        display: none;
    }

    /* Start Journey Part */

    .start-journey-container{
        margin: 12%;
        width: 100%;
    }
    .start-journey-container-items{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .start-journey-content{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .start-journey-content h1{
        text-align: center;
        font-size: 28px;
    }
    .start-journey-content p{
        text-align: center;
        font-size: 14px;
    }
    .link-button{
        width: 140px;
        padding: 10px 24px;
    }
    .start-journey-image img{
        margin-left: 16%;
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    hr{
        display: none;
    }

    /* Logo Part */

    .logo-container{
        width: 120%;
    }
    .logo-container-items{
        display: flex;
        flex-wrap: wrap;
    }
    
    /* Collection Part */

    .collections-container{
        margin-left: 12%;
        width: 100%;
    }
    .popular-collectons{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .collection-items{
        width: 280px;
    }
    .collection-image img{
        width: 260px;
    }
    .right-float{
        margin-left: 65%;
    }
 
    /* Discover Product Part  */

    .discover-product-container{
        width: 100%;
    }
    .discover-product-container-items{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }   
    .discover-product-image{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .discover-product-image img{
        margin-left: 35%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .discover-product-content{
        margin-left: 35%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .discover-product-content h1{
        font-size: 28px;
        text-align: center;
    }
    .discover-product-content p{
        font-size: 14px;
        text-align: center;
    }
}

/* --------------
Tablet Devices
--------------- */

@media only screen and (min-width: 688px) and (max-width: 1180px){

    /* Navigation Part */

    nav{
        width: 98%;
    }
    .nav li{
        margin-left: 1%;
    }

    /* Start Journey Part */

    .start-journey-content{
        width: 100%
    }
    .start-journey-content h1{
        font-size: 28px;
    }
    .start-journey-content p{
        font-size: 14px;
    }
    .start-journey-image img{
        width: 100%;
    }
    
    /* Logo Part */

    .logo-container{
        width: 90%;
        display: flex;
    }
    .collections-container{
        width: 100%;
        margin-bottom: 100px;
    }
    .popular-collectons{
        width: 80%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 5%;
    }

    /* Discover Product Part */

    .discover-product-container{
        margin-top: 70%;
        width: 100%;
        margin-bottom: 100px;
    }
    .discover-product-container-items{
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .discover-product-content{
        margin-left: 5%;
        width: 100%;
    }
    .discover-product-content h1{
        font-size: 28px;
    }
    .discover-product-content p{
        font-size: 14px;
    }
    .discover-product-image img{
        width: 100%;
        height: 80%;
    }

}